.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: $ff-roboto-condensed;
  font-size: 12px;
  font-weight: 700;
  color: $color-sapphire;
  background-color: transparent;
  border: none;
  outline: 2px solid $color-sapphire;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 2px solid $color-default-black;
  }
}
