.instructors {
  padding: 59px var(--side-offset) 91px;

  @media (max-width: $vp-1199) {
    padding: 56px calc(var(--side-offset) + 56px) 100px;
  }

  @media (max-width: $vp-767) {
    padding: 33px calc(var(--side-offset) + 32px) 70px;
  }

  h2 {
    @include title-medium (53px, 35px, 45px);

    @media (max-width: $vp-1199) {
      text-align: center;
      padding-right: 6px;
    }
  }
}

.instructors__wrapper {
  position: relative;
}

.instructors__card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56px 40px 27px;
  background-color: rgba(16, 38, 84, 0.89);
  aspect-ratio: 260 / 294;
  transition: background-color 0.2s ease;

  @media (max-width: $vp-1199) {
    aspect-ratio: 268 / 294;
  }

  @media (max-width: $vp-767) {
    padding: 48px 18px 27px;
    aspect-ratio: 226 / 274;
  }

  h3 {
    z-index: 0;
    margin: 0;
    margin-top: auto;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: $color-default-white;

    @media (max-width: $vp-1199) {
      padding-left: 7px;
    }
  }
}

.instructors__card:focus,
.instructors__card:hover {
  overflow: auto;

  h3 {
    margin: 0 0 1px;
    animation: appearDown 0.05s linear;

    @media (max-width: $vp-1199) {
      padding-left: 0;
      padding-right: 9px;
    }

    @media (max-width: $vp-767) {
      padding-right: 0;
    }
  }

  .instructors__card-holder {
    display: block;
    animation: appearDown 0.05s linear;
  }

  .instructors__card-img {
    z-index: -1;
  }
}

.instructors__card-img {
  position: absolute;
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}

.instructors__card-holder {
  display: none;
  overflow: auto;

  p {
    margin: 0 0 33px;
    line-height: 1.5;
    color: #b6bdcc;
    text-align: center;

    @media (max-width: $vp-1199) {
      padding-right: 7px;
    }

    @media (max-width: $vp-767) {
      padding-right: 0;
    }
  }
}

.instructors__card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.instructors__card-item {
  position: relative;
  padding-left: 31px;
  font-size: 14px;
  line-height: 1.5;
  color: $color-default-white;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 15px;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

@keyframes appearDown {
  from {
    transform: translateY(50px);
  }

  to {
    transform: none;
  }
}
