.main-footer {
  display: grid;
  grid-template-columns: 170px auto 170px;
  padding: 41px var(--side-offset);
  background-color: $color-black-russian;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr 4.8fr 1fr;
    padding: 43px calc(var(--side-offset) - 6px) 43px var(--side-offset);
  }

  @media (max-width: $vp-767) {
    position: relative;
    display: block;
    padding: 42px var(--side-offset) 52px;
  }
}
