.message {
  display: grid;
  grid-template-columns: 1fr 1.32fr;
  padding: 120px var(--side-offset) 53px;

  @media (max-width: $vp-1199) {
    padding: 100px var(--side-offset) 50px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    padding: 70px var(--side-offset) 35px;
  }
}

.message__content-wrapper {
  background-color: $color-torch-red;

  @media (max-width: $vp-1199) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.message__content {
  display: grid;
  grid-template-columns: 2.18fr 1fr;
  column-gap: 50px;
  padding: 85px 79px 87px 78px;

  @media (max-width: $vp-1199) {
    column-gap: 29px;
    margin: 0 auto;
    padding: 51px 45px;
  }

  @media (max-width: $vp-767) {
    padding: 48px 45px 51px;
  }

  h2 {
    @include fallback-font-weight(600);
    margin: 0 0 34px;
    font-size: 82px;
    line-height: 0.96;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;

    @media (max-width: $vp-1199) {
      margin: 0 0 14px;
      font-size: 48px;
    }
  }

  p {
    grid-column: 1 / 3;
    margin: 0 0 55px;
    font-size: 18px;
    color: $color-default-white;

    @media (max-width: $vp-1199) {
      margin: 0 0 35px;
      font-size: 12px;
    }
  }
}

.message__holder {
  p {
    margin-bottom: 9px;
    font-size: 18px;
    color: $color-default-white;

    @media (max-width: $vp-1199) {
      margin-bottom: 3px;
    }
  }

  span {
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    color: $color-default-white;
    border-top: 1px solid $color-default-white;

    @media (max-width: $vp-1199) {
      font-size: 24px;
    }
  }
}

.message__date-holder {
  display: inline-flex;
  margin-bottom: 20px;
  align-items: center;
  border-top: 1px solid $color-default-white;

  @media (max-width: $vp-1199) {
    margin-bottom: 9px;
  }

  span {
    margin-right: 7px;
    border: none;

    @media (max-width: $vp-1199) {
      margin-right: 3px;
    }
  }

  b {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $color-default-white;

    @media (max-width: $vp-1199) {
      font-size: 10px;
      line-height: 1.2;
    }
  }
}

.message__btn {
  grid-column: 1 / 3;
  padding: 26px 20px;
  color: $color-default-white;
  outline: 4px solid $color-default-white;

  @media (max-width: $vp-1199) {
    margin-top: auto;
    font-size: 10px;
    padding: 12px 20px;
    outline: 2px solid $color-default-white;
  }

  @media (max-width: $vp-767) {
    padding: 14px 20px;
  }
}

.message__img {
  height: 100%;
  object-fit: cover;

  @media (max-width: $vp-767) {
    width: 100%;
    height: 292px;
  }
}
