.promotion {
  padding: 149px var(--side-offset) 50px;

  @media (max-width: $vp-1199) {
    padding: 100px var(--side-offset) 50px;
  }

  @media (max-width: $vp-767) {
    padding: 70px var(--side-offset) 35px;
  }

  h2 {
    @include title-medium (34px, 34px, 34px);
    text-align: center;
  }
}

.promotion__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.promotion__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 462px;
}

.promotion__main-text {
  display: flex;
  flex-direction: column;
  padding: 45px;
  background-color: $color-torch-red;

  h3 {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 700;
    color: $color-default-white;
  }

  b {
    margin-bottom: 30px;
    font-size: 70px;
    color: $color-default-white;
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    color: $color-default-white;
  }
}

.promotion__link-holder {
  margin-top: auto;
}

.promotion__main-link {
  font-size: 14px;
  font-weight: 700;
  color: $color-default-white;
  border-bottom: 1px solid $color-default-white;
}

.promotion__img {
  object-fit: cover;
  height: 100%;
}

.promotion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promotion__item {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 35px;
  border-width: 7px;
  border-style: solid;
  border-image: $gradient-border 1;

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  h3 {
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 700;
    color: $color-resolution-blue;
  }

  p {
    margin: 0;
    color: $color-resolution-blue;
  }
}

.promotion__link {
  font-size: 12px;
  font-weight: 700;
  color: $color-resolution-blue;
  border-bottom: 1px solid $color-resolution-blue;
  letter-spacing: 0.05em;
}
