.subscription {
  padding: 126px var(--side-offset) 120px;
  text-align: center;
  background-color: $color-ghost-white;

  @media (max-width: $vp-1199) {
    padding: 105px var(--side-offset) 100px;
  }

  @media (max-width: $vp-767) {
    padding: 70px var(--side-offset);
  }

  h2 {
    @include title-medium (11px, 12px, 12px);

    @media (max-width: $vp-1199) {
      padding-right: 13px;
    }
  }
}

.subscription__wrapper {
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 470px;
    height: 494px;
    background-image: url("../img/subscription/weight-plates.png");
    transform: translate(285px, 270px);

    @media (max-width: $vp-1199) {
      background-size: 423px 447px;
      transform: translate(168px, 275px);
    }

    @media (max-width: $vp-767) {
      display: none;
    }
  }
}

.subscription__list-time {
  display: inline-block;
  margin: 0 0 37px;
  padding: 0;
  list-style-type: none;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (max-width: $vp-1199) {
    margin: 0 0 43px;
  }

  @media (max-width: $vp-767) {
    margin: 0 0 37px;
  }
}

.subscription__item-time {
  position: relative;
  display: inline-block;
  padding: 16px 0;
  font-size: 20px;
  color: rgba(16, 38, 84, 0.5);
  cursor: pointer;

  @media (max-width: $vp-1199) {
    font-size: 18px;
  }

  @media (max-width: $vp-767) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-right: 43px;

    @media (max-width: $vp-1199) {
      margin-right: 52px;
    }

    @media (max-width: $vp-767) {
      margin-right: 42px;
    }
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: -2px;
    content: "";
    width: 0;
    height: 2px;
    background-color: $color-crimson;
    transition: none;
  }
}

.subscription__item-time.active {
  color: $color-sapphire;
}

.subscription__item-time.active::before {
  width: 100%;
  transition: width 0.2s linear;
}

.subscription__item-time:hover:not(.subscription__item-time.active) {
  color: $color-sapphire;
}

.subscription__item-time:active:not(.subscription__item-time.active) {
  opacity: 0.7;
}

.subscription__list-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $vp-1199) {
    grid-template-columns: 1fr;
    padding: 0 118px;
  }

  @media (max-width: $vp-767) {
    gap: 35px;
    padding: 0;
  }
}

.subscription__item-card {
  position: relative;
  z-index: 1;
  padding: 65px 77px 68px;
  background-color: $color-default-white;

  @media (max-width: $vp-767) {
    padding: 49px 42px 57px;
  }

  &::before {
    position: absolute;
    z-index: -1;
    inset: 0;
    content: "";
    border-width: 7px;
    border-style: solid;
    border-image: $gradient-border 1;
    opacity: 0;
  }

  h3 {
    @include title-small (12px, 12px, 10px);
  }

  p {
    @include description (80px, 79px, 67px);
  }
}

.subscription__item-card:focus-within,
.subscription__item-card:hover {
  &::before {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .subscription__btn {
    color: $color-default-white;
    background: $gradient-button;
    outline: none;
    animation: buttonBackground 0.2s ease;
  }
}

.subscription__subtitle {
  display: none;
}

.subscription__subtitle.active {
  display: block;
  animation: appearLeft 0.2s linear;
}

.subscription__price {
  position: relative;
  display: none;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 700;
  color: $color-egyptian-blue;

  @media (max-width: $vp-1199) {
    margin-bottom: 52px;
  }

  @media (max-width: $vp-767) {
    font-size: 48px;
    margin-bottom: 43px;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: attr(data-rate);
    font-size: 100px;
    color: rgba(232, 232, 232, 0.48);
    transform: translate(-50%, -74px);

    @media (max-width: $vp-767) {
      font-size: 80px;
      transform: translate(-50%, -60px);
    }
  }

  b {
    margin-left: 10px;
    font-size: 60px;
    color: $color-sapphire;

    @media (max-width: $vp-767) {
      font-size: 48px;
    }
  }
}

.subscription__price.active {
  display: block;
  animation: appearLeft 0.2s linear;
}

@keyframes appearLeft {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: none;
  }
}

.subscription__btn {
  padding: 27px 20px 25px;

  @media (max-width: $vp-1199) {
    display: inline-block;
    width: auto;
    padding: 27px 44px 23px;
  }

  @media (max-width: $vp-767) {
    padding: 27px 44px 25px;
  }
}

@keyframes buttonBackground {
  from {
    background: transparent;
  }

  to {
    background: $gradient-button;
  }
}
