// Font Weight

@mixin fallback-font-weight($weight) {
  font-family: $ff-alumni-sans;
  font-weight: $weight;
  font-variation-settings: "wght" $weight;
}

// Title

@mixin title-medium ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 54px;
  line-height: 100%;
  letter-spacing: 0.03em;

  @include fallback-font-weight (600);

  @media (max-width: $vp-1199) {
    margin-bottom: $tablet;
    font-size: 42px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 32px;
  }
}

@mixin title-small ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 26px;
  line-height: 100%;
  font-weight: 700;

  @media (max-width: $vp-1199) {
    margin-bottom: $tablet;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 22px;
  }
}

// Description

@mixin description ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;

  @media (max-width: $vp-1199) {
    margin-bottom: $tablet;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
  }
}
